# إعدادات دجانغو الأساسية
DJANGO_SECRET_KEY=your-custom-production-secret-key-here
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,*

# مفتاح أمان العدادات الذكية
METER_API_KEY=billcut-secret-iot-meter-key-2025